{% extends "base.html.twig" %}

{% block body %}
	<header class="p-3 mb-5 border-bottom">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="{{ path('app_home') }}" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
					<img src="{{ asset('assets/images/logo_blogger.png') }}" alt="logo" height="32" class="me-4">
				</a>

				<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li>
						<a href="#" class="nav-link px-2 link-secondary">Accueil</a>
					</li>
					<li>
						<a href="#" class="nav-link px-2 link-body-emphasis">Les articles</a>
					</li>
					<li>
						<a href="#" class="nav-link px-2 link-body-emphasis">Les news</a>
					</li>
				</ul>

				{% if app.user %}
					<div class="dropdown text-end">
						<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
						</a>
						<ul class="dropdown-menu text-small">
							<li>
								<a class="dropdown-item" href="#">
									<i class="fa-solid fa-user me-2"></i>Mon profil</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<i class="fa-solid fa-gear me-2"></i>Paramètres</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item text-warning" href="{{ path('app_admin_index') }}">
									<i class="fa-solid fa-hammer me-2"></i>Interface admin</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item text-danger" href="{{ path('app_logout') }}">
									<i class="fa-solid fa-right-from-bracket me-2"></i>Se déconnecter</a>
							</li>
						</ul>
					</div>

				{% else %}

					<div class="text-end">
						<a href="{{ path('app_register') }}" class="btn btn-outline-primary">S'inscrire</a>
						<a href="{{ path('app_login') }}" class="btn btn-primary text-light me-2">Se connecter</a>
					</div>
				{% endif %}
			</div>
		</div>
	</header>

	<div style="min-height:80vh;">
		{% block page_content %}{% endblock %}
	</div>

	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 mb-3 border-top">
			<div class="col-md-4 d-flex align-items-center">
				<a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
					<img src="{{ asset('assets/images/logo_blogger.png') }}" alt="logo" height="32" class="me-2">
				</a>
				<span class="mb-3 mb-md-0 text-body-secondary">© 2023 Blogger, Inc</span>
			</div>

			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex text">
				<li class="ms-3">
					<a class="text-body-secondary text-danger" href="#">
						<i class="fa-brands fa-twitter fa-2xl"></i>
					</a>
				</li>
				<li class="ms-3">
					<a class="text-body-secondary" href="#">
						<i class="fa-brands fa-instagram fa-2xl"></i>
					</a>
				</li>
				<li class="ms-3">
					<a class="text-body-secondary" href="#">
						<i class="fa-brands fa-facebook fa-2xl"></i>
					</a>
				</li>
			</ul>
		</footer>
	</div>

{% endblock %}
