{% extends 'adminMenu.html.twig' %}

{% block content %}

	<a href="{{ path('app_admin_medias_list') }}">
		<i class="fa-solid fa-arrow-left-long"></i>
		Retour à la liste des media</a>
	<h1>Titre du media :
		{{ media.title }}
	</h1>
     <p>Type du media :
          {{ media.type }}
     </p>
     <p>Url du media :
          {{ media.path }}
     </p>
     <p>Texte alternatif du media :
          {{ media.alt }}
     </p>
     <p>Créé par :
          {{ media.user.username }}
     </p>
     <img src="{{ asset('uploads/' ~ media.path )  }}" alt="{{ media.alt }}" height="600">
{% endblock %}
